@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  background-color: #FDF7E4;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  color: #BBAB8C;
}

.subtitle {
  color: #DED0B6;
}

.about {
  color: #BBAB8C;
}

/* .header {
  background-color: red;
} */
